<h6><a href="{{@blog.url}}/">Blog</a></h6>
<h6><a href="{{@blog.url}}/about-me">About me</a></h6>
<h6><a href="{{@blog.url}}/contact">Contact</a></h6>
<h6><a href="{{@blog.url}}/Subscribe">Subscribe</a></h6>
			